.popup__form-item {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 10px;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgba( 0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .popup__form-item {
    max-width: 238px;
    width: 100%;
    padding: 0 0 10px;
  }
}