.profile__about-me {
  max-width: 336px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin: 8px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .profile__about-me {
    max-width: 282px;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}